{
	"presets": ["next/babel"],
	"plugins": [
		[
			"import",
			{
				"libraryName": "lodash",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			}
		]
		// "babel-plugin-react-icons"
	]
}
